.footer{
    background-color: #d16a78;
    bottom:0;
    padding:15px;
    margin:20px 0 0 0;
    opacity: .7;
    width: $completo;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    background: linear-gradient(to right, #d16a78, #ffffff);
    .boton {
        padding: 5px;
        width: 100px;
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
    .redesSociales{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
            margin-left: 15px;
            color: #8d8c86;
            width: 30px;
            img {
                width:40px;
                opacity: .7;
            }
        }
        
    }
}
.footer-copyright {
    background-color: $h1Head;
    padding: 5px 0;
    p {
        margin: 2px 0 0;
        letter-spacing: normal;
        word-spacing: normal;
    }
}
@media only screen and (max-width: 390px) {
    .redesSociales {
        display: flex;
        flex-direction: column;
        justify-content: right;
        a {
            margin-left: 0;
        }
    }
    html {
        text-align: justify;
    }
    
}