.presentacion{ 
    padding: 10%;
    h2{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 100px;
    }
    p {
        margin-top: 10px;
        text-align: justify;
    }
}
.video-envivo{
    width:90%;
    .videoLoop {
        width: $completo;
        position: relative;
        z-index: -100;
        
    }
}