.sobreMi{
    padding: 10%;
    h2 {
        text-decoration:underline;
        padding: 20px 20px 20px 0px;
    }
    p {
        margin: 10px 0px 20px 0px;
    }
    img {
        width: 20vw;
        border-radius: $completo/2;
        float: right;
    }
}