@import "colorfont";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    body {
        background-color: $bgBody;
        background-image: linear-gradient(315deg, $bgBody 0%, $bgBodyGrad 74%);
        font-family: 'Poppins',sans-serif;
        p {
            font-size: 1.5rem;
            line-height: 2.5;
            // letter-spacing: 5px;
            // word-spacing: 10px;
        }
    }
}
@import "header";
@import "navigator";
@import "index";
@import "info";
@import "productos";
@import "sobremi";
@import "contacto";
@import "animaciones";

@import "footer";
@import "errores";